<%= simple_form_for gift, html: { novalidate: false } do |f| %>
	<%= f.input :wishlist_id, as: :hidden, input_html: { value: wishlist.id } %>
	<div class="d-flex justify-content-between w-100 flex-wrap">
		<%= f.input :name, label: I18n.t("gift.name"), required: true,
    label: false,
      wrapper_html: { class: "w-100" },
      input_html: {
        placeholder: I18n.t("gift.name_placeholder")
    } %>
		<%= f.input :tag, label: false, collection: Gift::TAGS.map { |tag|
        [I18n.t("activerecord.attributes.gift.tags.#{tag}"), tag]
      },
      wrapper_html: { class: "flex-grow-1 me-2" },
      prompt: t("gift.category_prompt"),
      input_html: { class: "form-select" } %>
		<%= f.input :price,
      label: false,
      input_html: {
        placeholder: I18n.t("gift.price_placeholder"),
        maxlength: 6,
        class: "form-control",
        style: "width: 10ch;"
      } %>
	</div>
	<%= f.input :url, label: I18n.t("gift.url_label"), input_html: {
    placeholder: I18n.t("gift.url_placeholder")
  } %>
	<%= f.input :photo,
  as: :file,label: I18n.t("gift.add_photo"),

  input_html: {
    accept: "image/*",
    capture: "environment"
  } %>
	<%= button_tag type: :submit, class: "btn btn-success w-100 fw-bold fs-3 mt-5" do %>
		<%= I18n.t "gift.save_gift" %>
	<% end %>
<% end %>
